@model IEnumerable<BaiTapMVC.Models.Product>

@{
    ViewData["Title"] = "Index";
    List<Catalog> listCatalog = ViewBag.listCatalog;
}
@section Css{
    <link rel="stylesheet" href="~/oganic/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/style.css" type="text/css">
}
<div class="filter__item">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="filter__sort">
                <span>Sort By</span>
                <select id="sltDanhMuc" style="display: none;">
                    <option value="-1">Chọn danh mục</option>
                    @foreach (var item in listCatalog)
                    {
                        <option value="@item.Id">@item.CatalogName</option>
                    }
                </select>
            </div>
        </div>
        <div id="iddanhsachsanpham_selection" class="row">
            <div id="iddanhsachsanpham_table"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/oganic/js/jquery-3.3.1.min.js"></script>
    <script src="~/oganic/js/bootstrap.min.js"></script>
    <script src="~/oganic/js/jquery.nice-select.min.js"></script>
    <script src="~/oganic/js/jquery-ui.min.js"></script>
    <script src="~/oganic/js/jquery.slicknav.js"></script>
    <script src="~/oganic/js/mixitup.min.js"></script>
    <script src="~/oganic/js/owl.carousel.min.js"></script>
    <script src="~/oganic/js/main.js"></script>

    <script>
        $(document).ready(function () {
            getSanPhamTable();
        });
        var selectedDMId = -1;
        $("#sltDanhMuc").change(function () {
            selectedDMId = $("#sltDanhMuc").val();
            getSanPhamTable();
        })
        function getSanPhamTable() {
            $.ajax({
                url: "/Product/getListProduct",
                type: 'GET',
                data: { iddm: selectedDMId },
                success: function (data) {
                    $("#iddanhsachsanpham_table").empty().append(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        }

    </script>
}
